.card {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border: 1px solid #D1D1D1;
  border-radius: 12px;

  .card__image {
    min-width: 268px;
    height: 280px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .card__content {
    padding: 25px;
  }

  .card__title {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
  }

  .card__smallDesc {
    font-size: 12px;
    color: #575757;
    margin-bottom: 10px;
  }

  .star-wrapper {
    margin-bottom:17px;
  }

  .star {
    display: inline-block;
  }

  .card__product-info {
    display: flex;
    flex-direction: column;

    .card__info-wrapper {
      color: #A9A9A9;
      margin-top: 10px;
      font-size: 14px;
      line-height: 19px;

      .green {
        color: #6A983C;
      }
    }

    .card__info-wrapper:first-child {
      margin-top: 0;
    }

    .card__info-wrapper + span:first-child {
      display: inline-block;
      min-width: 100px;
      margin-right: 15px;
    }
  }

  .card__cost {
    padding: 30px 30px 28px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 205px;
  }

  .card__price {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .card__old-price {
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #A9A9A9;
    text-decoration: line-through;
  }

  .card__delivery {
    color: #A9A9A9;

    p {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 12px;
    }

    span {
      font-size: 12px;
    }
  }

  .card__details {
    text-decoration: none;
  }

  .card__add-to-wish {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 6px 12px;
    border-radius: 12px;
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    width: 100%;
    margin-top: 12px;

    img {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1143px) {
  .card {

    .card__image {
      min-width: 258px;
      height: 100%;
    }

    .card__content {
      padding: 20px;
    }

    .card__title {
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 4px;
    }

    .card__smallDesc {
      margin-bottom: 8px;
    }

    .card__product-info .card__info-wrapper {
      margin-top: 8px;
      font-size: 12px;
    }

    .card__cost {
      padding: 23px 23px 20px 0;
      min-width: 195px;
    }

    .card__price {
      font-size: 17px;
      line-height: 25px;
    }

    .card__old-price {
      line-height: 18px;
      font-size: 10px;
    }

    .card__delivery p {
        font-size: 10px;
    }

    .card__delivery span {
      font-size: 10px;
    }

    .card__add-to-wish {
      padding: 5px 10px;
      font-size: 13px;
    }
  }
}
