<div class="card">
  <div class="card__image">
    <a [routerLink]="[ '/products', product.id ]">
      <img [src]="product.imgUrl" alt="image">
    </a>
  </div>
  <div class="card__content-wrapper">
  <div class="card__content">
    <a [routerLink]="[ '/products', product.id ]">
      <h2 class="card__title">{{ product.title | titlecase }}</h2>
    </a>
    <p class="card__smallDesc">{{ product.description.small | titlecase }}</p>
    <div class="star-wrapper">
      <img class="star" *ngFor="let star of starCount; let i = index"
           src="./assets/images/{{ star <= product.rating ? 'solid-star' : 'star' }}.svg" alt="rating-star">
    </div>
    <div class="card__product-info">
      <div class="card__info-left">
        <span>Freshness</span>
        <span>Farm</span>
        <span>Delivery</span>
        <span>Stock</span>
      </div>
      <div class="card__info-right">
        <span class="green">{{ product.freshness | titlecase }}</span>
        <span>{{ product.farm | titlecase }}</span>
        <span>{{ product.deliveryArea | titlecase }}</span>
        <span class="green">{{ product.stock }}</span>
      </div>
<!--      <div class="card__info-wrapper"><p>Freshness<span class="green freshness">{{ product.freshness | titlecase }}</span></p></div>-->
<!--      <div class="card__info-wrapper"><p>Farm<span class="farm">{{ product.farm | titlecase }}</span></p></div>-->
<!--      <div class="card__info-wrapper"><p>Delivery<span class="delivery">{{ product.deliveryArea | titlecase }}</span></p></div>-->
<!--      <div class="card__info-wrapper"><p>Stock<span class="green stock">{{ product.stock }}</span></p></div>-->
    </div>
  </div>
  <div class="card__cost">
    <div class="card__payment">
      <p class="card__price">{{ product.price }} USD</p>
      <span class="card__old-price">{{ product.previousPrice }}</span>
    </div>
    <div class="card__delivery">
      <p>Free shipping</p>
      <span>Delivery in {{ product.deliveryTime }} day</span>
    </div>
    <div class="card__buttons">
      <a class="card__details" [routerLink]="[ '/products', product.id ]">
        <div class="button">
          <span>Product Details</span>
          <img src="./assets/images/arrow-right-white.svg" alt="arrow-right">
        </div>
      </a>
      <button class="add-to-wish card__add-to-wish" (click)="addToWishList(product)">
        <img src="./assets/images/heart.svg" alt="heart">
        <span>Add to wish list</span>
      </button>
    </div>
  </div>
  </div>
</div>
