.card {
  display: grid;
  grid-template-columns: 268px 1fr;
  grid-template-rows: 279px;
  border: 1px solid #D1D1D1;
  border-radius: 12px;

  .card__image {
    min-width: 268px;
    height: 100%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .card__content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .card__content {
    padding: 32px 10px 16px 35px;
    width: 100%;
  }

  .card__title {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3px;
  }

  .card__smallDesc {
    font-size: 12px;
    color: #575757;
    margin-bottom: 7px;
  }

  .star-wrapper {
    margin-bottom: 22px;
  }

  .star {
    display: inline-block;
  }

  .card__product-info {
    display: flex;
    justify-content: flex-start;


    .card__info-left, .card__info-right {
      display: flex;
      flex-direction: column;
      color: #A9A9A9;

      span {
        margin-top: 12px;
      }
      span:first-child {
        margin-top: 0;
      }
    }

    .card__info-right {
      span {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
      }
    }

    .card__info-left {
      margin-right: 32px;
    }

    .green {
      color: #6A983C;
    }

    .card__info-wrapper:first-child {
      margin-top: 0;
    }

    .card__info-wrapper + span:first-child {
      display: inline-block;
      min-width: 100px;
      margin-right: 15px;
    }
  }

  .card__cost {
    padding: 32px 30px 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px
  }

  .card__price {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .card__old-price {
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #A9A9A9;
    text-decoration: line-through;
  }

  .card__delivery {
    color: #A9A9A9;

    p {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 12px;
    }

    span {
      font-size: 12px;
    }
  }

  .card__details {
    text-decoration: none;
  }

  .card__add-to-wish {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 6px 12px;
    border-radius: 12px;
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    width: 100%;
    margin-top: 12px;

    img {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .card {

    .card__image {
      min-width: 258px;
      height: 100%;
    }

    .card__content {
      padding: 20px;
    }

    .card__title {
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 4px;
    }

    .card__smallDesc {
      margin-bottom: 8px;
    }

    .card__product-info .card__info-wrapper {
      margin-top: 8px;
      font-size: 12px;
    }

    .card__cost {
      padding: 23px 23px 20px 0;
      min-width: 0;
      max-width: 175px;
      width: 100%;
    }

    .card__price {
      font-size: 17px;
      line-height: 25px;
    }

    .card__old-price {
      line-height: 18px;
      font-size: 10px;
    }

    .card__delivery p {
        font-size: 10px;
    }

    .card__delivery span {
      font-size: 10px;
    }

    .card__add-to-wish {
      padding: 5px 10px;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 998px) {
  .card {
    grid-template-columns: 36% 1fr;
    grid-template-rows: auto;

    .card__image {
      min-width: 0;
      max-width: 100%;
    }

    .card__content {
      padding: 10px;
    }

    .card__title {
      font-size: 15px;
      line-height: 20px;
    }

    .card__smallDesc {
      font-size: 10px;
      margin-bottom: 5px;
    }

    .star-wrapper {
      margin-bottom: 10px;
    }

    .star {
      width: 14px;
      height: 14px;
    }

    .card__product-info {
      .card__info-left, .card__info-right {
        span {
          margin-top: 4px;
          font-size: 9px;
        }
      }
    }

    .card__product-info .card__info-wrapper {
      font-size: 8px;
      line-height: 13px;
    }

    .card__cost {
      padding: 7px 9px 10px 0;
      max-width: 160px;
    }

    .card__price {
      font-size: 15px;
      line-height: 20px;
    }

    .card__old-price {
      line-height: 13px;
      font-size: 9px;
    }

    .card__delivery {

      p {
        font-size: 10px;
        line-height: 10px;
      }

      span {
        font-size: 10px;
      }
    }

    .card__add-to-wish {
      font-size: 11px;
      line-height: 15px;
      margin-top: 10px;

      img {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 623px) {
  .card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .card__image {
      min-width: 210px;
      height: 205px;

      img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .card__content {
      padding: 10px 0 10px 10px;
      max-width: 151px;

      .card__info-left {
        margin-right: 7px;
      }

      .card__info-right {
        width: 100px;
        overflow: hidden;
      }
    }

    .card__title {
      font-size: 14px;
      line-height: 20px;
    }

    .card__cost {
      padding: 10px;
      min-width: 147px;
      text-align: right;
      justify-content: flex-start;
    }

    .card__buttons {
      margin-top: auto;
    }

    .card__add-to-wish {
      font-size: 10px;
      line-height: 15px;
      margin-top: 10px;

      img {
        margin-right: 0;
      }
    }
  }
}
