<div class="filter">
  <div class="filter__element">
    <h3 class="filter__title">Categories</h3>
    <div class="filter__items categoryItem">
      <p class="filter__name filter__name_category">Category name</p>
      <span class="count">320</span>
    </div>
    <div class="filter__items categoryItem">
      <p class="filter__name filter__name_category">Category name</p>
      <span class="count">112</span>
    </div>
    <div class="filter__items categoryItem">
      <p class="filter__name filter__name_category">Category name</p>
      <span class="count">32</span>
    </div>
    <div class="filter__items categoryItem">
      <p class="filter__name filter__name_category">Category name</p>
      <span class="count">40</span>
    </div>
  </div>
  <div class="filter__element">
    <h3 class="filter__title">Brand</h3>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox">
        <span> Filtre by brand item</span>
      </label>
    </div>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox">
        <span> Filtre by brand item</span>
      </label>
    </div>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox">
        <span> Filtre by brand item</span>
      </label>
    </div>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox">
        <span> Filtre by brand item</span>
      </label>
    </div>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox">
        <span> Filtre by brand item</span>
      </label>
    </div>
  </div>
  <div class="filter__element">
    <h3 class="filter__title">Rating</h3>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox" name="star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
      </label>
    </div>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox" name="star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="yellow-star">
      </label>
    </div>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox" name="star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="yellow-star">
      </label>
    </div>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox" name="star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="star">
      </label>
    </div>
    <div class="filter__items">
      <label>
        <input class="filter__checkbox" type="checkbox" name="star">
        <img class="filter__star" src="./assets/images/star-yell.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="yellow-star">
        <img class="filter__star" src="./assets/images/small-star.svg" alt="yellow-star">
      </label>
    </div>
  </div>
  <div class="filter__element">
    <h3 class="filter__title">Price</h3>
    <input class="filter__input-range" type="range" id="price">
    <div class="filter__range-count-wrapper">
      <label class="filter__range-count">
        <span>Min</span>
        <input type="number" value="0">
      </label>
      <span class="filter__separator">-</span>
      <label class="filter__range-count">
        <span>Max</span>
        <input type="number" value="0">
      </label>
    </div>
  </div>
</div>
