.filter {
  display: flex;
  flex-direction: column;


  .filter__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
  }

  input[type="radio"]:checked + p {
    color: #6A983C;
  }

  .filter__name {
    margin-top: 12px;
    font-size: 14px;

    &:hover {
      color: #6A983C;
      text-shadow: 0 0 12px #6A983C;
    }
  }

  .filter__name_category {
    margin-top: 0;
  }

  .filter__element {
    padding: 5px;
    margin-bottom: 45px;
  }

  .filter__element:first-child {
    max-height: 155px;
    overflow-y: scroll;
  }

  .filter__element:nth-of-type(2) {
    max-height: 215px;
    overflow-y: scroll;
  }

  .filter__element:first-child::-webkit-scrollbar,
  .filter__element:nth-of-type(2)::-webkit-scrollbar {
    width: 4px;
  }

  .filter__element:first-child::-webkit-scrollbar-track,
  .filter__element:nth-of-type(2)::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  .filter__element:first-child::-webkit-scrollbar-thumb,
  .filter__element:nth-of-type(2)::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6A983C;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  .filter__items {
    display: flex;
    align-items: center;
    margin-top: 17px;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  .filter__items:first-child {
    margin-top: 0;
  }

  .filter__checkbox {
    margin-right: 10px;
    cursor: pointer;
  }

  .filter__star {
    margin-right: 4px;
  }

  .categoryItem {
    justify-content: space-between;
    margin-top: 12px;

    input {
      display: none;
    }
  }

  ::ng-deep {
    .filter__range-slider {
      margin-top: -28px;

      .ngx-slider {
        .ngx-slider-selection {
          background: rgba(106,152,60,1) !important;
        }
        .ngx-slider-pointer {
          width: 20px;
          height: 20px;
          background-color: white;
          border: 1px solid #D1D1D1;
          top: -8px;
        }
        .ngx-slider-pointer:focus {
          outline: none;
        }
        .ngx-slider-pointer:after {
          display: none;
        }
        .ngx-slider-model-value,
        .ngx-slider-model-high {
          display: none;
        }
      }
    }
  }

  .filter__range-count-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-right: 15px;
  }

  .filter__range-count {
    display: inline-flex;
    flex-direction: column;
    width: 44%;

    span {
      font-size: 12px;
      line-height: 18px;
      font-family: 'Poppins',sans-serif;
      font-weight: 600;
    }

    input {
      background-color: #F9F9F9;
      border: 1px solid #D1D1D1;
      padding: 11px 16px 12px 21px;
      border-radius: 12px;
      color: #A9A9A9;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .filter__separator {
    color: #D1D1D1;
    font-size: 20px;
    margin-top: 10px;
  }

  .filter__reset-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter__reset {
    text-shadow: #575757;
    color: #A9A9A9;
    cursor: pointer;
    transition: color 0.5s ease-in-out;

    &:hover {
      color: #6A983C;
    }
  }
}
@media screen and (max-width: 1047px) {
  .overlay {
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }

  .show-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }

  .filter {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    max-width: 70vw;
    max-height: 90vh;
    background-color: white;
    padding: 10px;
    border: 1px solid #6A983C;
    border-radius: 7px;
    overflow-y: scroll;
  }

  .filter::-webkit-scrollbar {
    width: 4px;
  }

  .filter::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  .filter::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6A983C;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  .filter__element:first-child {
    overflow-y: auto;
  }

  .filter__close {
    margin-top: 15px;
  }
}
