<div class="card">
    <div class="car__image"></div>
    <div class="card__content">
        <h2 class="card__title">{{ product.title }}</h2>
        <p class="card__smallDesc">{{ product.description }}</p>
        <div><span>Freshness </span><span>{{ product.freshness }}</span></div>
        <div><span>Farm </span><span>{{ product.farm }}</span></div>
        <div><span>Delivery </span><span>{{ product.deliveryArea }}</span></div>
        <div><span>Stock </span><span>{{ product.stock }}</span></div>
    </div>
    <div class="card__cost">

    </div>
</div>
