<div class="header-top">
    <div class="left-info">
        <span><a class="top-link" [routerLink]="[ 'chat' ]" routerLinkActive="active">Chat with us</a></span>
        <span><a href="tel:+420 336 775 664">+420 336 775 664</a></span>
        <span><a href="mailto:info@freshnesecom.com">info@freshnesecom.com</a></span>
    </div>
    <div class="right-info">
        <span><a class="top-link" [routerLink]="[ 'blog' ]" routerLinkActive="active">Blog</a></span>
        <span><a class="top-link" [routerLink]="[ 'about' ]" routerLinkActive="active">About Us</a></span>
        <span><a class="top-link" [routerLink]="[ 'careers' ]" routerLinkActive="active">Careers</a></span>
    </div>
</div>
