.header-top {
    display: flex;
    justify-content: space-between;


    .left-info {
        display: flex;
        justify-content: flex-start;

        span {
          margin-right: 33px;
        }
    }

    .right-info {
        display: flex;
        justify-content: flex-end;

        span {
          margin-left: 33px;
        }
    }

    .top-link {
      color: #6A983C;
      text-decoration: none;
    }
}

