<h2>Product</h2>
<div *ngIf="product">
    <div>
      <label>First Name: </label> {{product[0].id}}
    </div>
    <div>
      <label>Age: </label> {{product[0].title}}
    </div>
    <div>
      <label>Active: </label> {{product[0].country}}
    </div>
   
    <span class="button is-small btn-primary" *ngIf='product.active' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!product.active' (click)='updateActive(true)'>Active</span>
   
    <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>
   
    <hr/>
</div>
