<div class="header-wrapper">
    <div class="header-search">
        <div class="header-search__logo">
            <a [routerLink]="[ '/products' ]">
                <img src="./assets/images/Freshnesecom.png" alt="logo">
            </a>
        </div>
        <div class="header-search__field">
            <select class="header-search__select" name="search" id="">
              <option>All categories</option>
              <option>Food</option>
            </select>
            <input class="header-search__search" type="text" name="search"
                   placeholder="Search Products, categories ...">
            <img src="./assets/images/search.svg" alt="search">
        </div>
        <div class="header-search__shop">
            <div class="header-search__person">
                <img src="./assets/images/person.png" alt="person">
            </div>
            <div class="header-search__bucket">
                <a [routerLink]="[ '/shopping-cart' ]">
                    <img src="./assets/images/bucket.svg" alt="person">
                </a>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <nav class="nav">
            <ul class="list">
                <li class="item">Electronics<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Food<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Clothes<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Skin<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Toys<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Special<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Sport<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Books<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
            </ul>
        </nav>
    </div>
    <div class="breadcrumbs">
        <span>Homepage / </span>
        <span>All Products </span>
    </div>
</div>
