<div class="shopping-cart-wrapper">
  <div class="info">
    <h2 class="elem-title">Billing info</h2>
    <p class="elem-description">Please enter your binding info</p>
    <form class="person-info" [formGroup]="personForm">
      <div class="person-info-inner">
        <div class="person-info-group">
          <label for="firstName">First name</label>
          <input type="text" id="firstName" placeholder="First name" formControlName="firstName"
                 [class.ng-invalid]="personForm.get('firstName').invalid && personForm.get('firstName').touched" autocomplete="off">
        </div>
        <div class="person-info-group">
          <label for="email">Email address</label>
          <input type="text" id="email" placeholder="Email address" formControlName="email"
                 [class.ng-invalid]="personForm.get('email').invalid && personForm.get('email').touched" autocomplete="off">
        </div>
        <div class="person-info-group">
          <label for="address">Address</label>
          <input type="text" id="address" placeholder="Address" formControlName="address"
                 [class.ng-invalid]="personForm.get('address').invalid && personForm.get('address').touched" autocomplete="off">
        </div>
        <div class="person-info-group">
          <label for="country">State/Country</label>
          <input type="text" id="country" formControlName="country"
                 [matAutocomplete]="auto" placeholder="Choose a state or Country"
                 [class.ng-invalid]="personForm.get('country').invalid && personForm.get('country').touched" autocomplete="off">
          <mat-autocomplete #auto="matAutocomplete" class="auto-complete">
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
              {{ country }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="person-info-inner">
        <div class="person-info-group">
          <label for="lastName">Last name</label>
          <input type="text" id="lastName" placeholder="Last name" formControlName="lastName"
                 [class.ng-invalid]="personForm.get('lastName').invalid && personForm.get('lastName').touched" autocomplete="off">
        </div>
        <div class="person-info-group">
          <label for="phone">Phone number</label>
          <input type="text" id="phone" placeholder="Phone number" formControlName="phone"
                 [class.ng-invalid]="personForm.get('phone').invalid && personForm.get('phone').touched" autocomplete="off">
        </div>
        <div class="person-info-group">
          <label for="city">Town/City</label>
          <input type="text" id="city" placeholder="City" formControlName="city"
                 [class.ng-invalid]="personForm.get('city').invalid && personForm.get('city').touched" autocomplete="off">
        </div>
        <div class="person-info-group">
          <label for="postalCode">ZIP/Postal code</label>
          <input type="text" id="postalCode" placeholder="Postal code or ZIP" formControlName="postal" autocomplete="off">
        </div>
      </div>
    </form>
    <h2 class="elem-title elem-title__ad-info">Additional information</h2>
    <p class="elem-description">Please enter your binding info</p>
    <div class="notes">
      <label for="notes">Order notes</label>
      <textarea name="" id="notes" cols="30" rows="10" placeholder="Need a specific delivery day?"></textarea>
    </div>
    <div class="confirmation">
      <h2 class="elem-title elem-title__conf-info">Confirmation</h2>
      <p class="elem-description">We are getting to the end. Just few clicks and your order si ready!</p>
      <div class="confirmation__privacy">
        <input type="checkbox" id="message">
        <label for="message">I agree with sending an Marketing and newsletter emails. No spam, promissed!</label>
      </div>
      <div class="confirmation__privacy">
        <input type="checkbox" id="terms">
        <label for="terms">I agree with our terms and conditions and privacy policy.</label>
      </div>
      <button class="confirmation__button button" (click)="completeOrder()"
              [disabled]="personForm.invalid" [class.disabled-button]="personForm.invalid">Complete order</button>
    </div>
  </div>

  <div class="summary-wrapper">
    <div class="summary">
      <h2 class="elem-title">Order Summary</h2>
      <p class="elem-description">Price can change depending on shipping method and taxes of your state.</p>
      <div class="summary__product-cart" *ngFor="let product of orderedProducts">
        <div class="summary__inner-left">
          <div class="summary__image-wrapper">
            <img class="summary__image" [src]="product.imgUrl" [alt]="product.title">
          </div>
          <label class="summary__add-remove" (click)="addToWishList(product)">
            <img class="summary__icon" src="./assets/images/heart-red.svg" alt="heart">Wishlist
          </label>
          <label class="summary__add-remove" (click)="removeProduct(product.id)">
            <img class="summary__icon" src="./assets/images/remove.png" alt="remove">Remove
          </label>
        </div>
        <div class="summary__inner-right">
          <h3 class="summary-title">{{ product.title | titlecase }}</h3>
          <div class="summary__info">
            <div class="summary__info-key">
              <p>Farm:</p>
              <p>Freshness:</p>
            </div>
            <div class="summary__info-value">
              <p>{{ product.farm | titlecase }}</p>
              <p>{{ product.freshness | titlecase }}</p>
            </div>
          </div>
          <div class="summary__stars-wrapper">
            <img class="summary__star" *ngFor="let star of countStars"
                 src="./assets/images/{{ product.rating < star ? 'star' : 'star-yell' }}.svg" alt="star">
          </div>
          <h3 class="summary__price">{{ product.price }}</h3>
        </div>
        <div class="product-count">
          <input class="product-count__input-number" type="number" min="1"
                 (change)="changeProductCount()" [(ngModel)]="product.count">
          <select class="product-count__select">
            <option value="some">Pcs</option>
            <option value="some">Pcs</option>
          </select>
        </div>
      </div>
      <div class="summary__total">
        <div class="summary__subtotal">
          <span>Subtotal</span>
          <span>{{ (totalPrice - (totalPrice * 0.05)) | number:'2.2-2' }} USD</span>
        </div>
        <div class="summary__tax">
          <span>Tax</span>
          <span>{{ (totalPrice * 0.05) | number:'1.2-2' }} USD</span>
        </div>
        <div class="summary__promo-group">
          <input class="summary__promo" type="text" placeholder="Apply promo code">
          <span class="summary__promo-send">Apply now</span>
        </div>
        <div class="summary__total-wrapper">
          <div class="summary__total-info">
            <h3 class="summary__total-title">Total Order</h3>
            <p class="summary__total-description">Guaranteed delivery day:  June 12, 2020</p>
          </div>
          <h3 class="summary__total-price">{{ totalPrice | number:'2.2-2' }}</h3>
        </div>
      </div>
    </div>
  </div>

</div>
