<div class="admin-header-wrapper">
  <div class="admin-header">
    <div class="left-icons">
      <img src="./assets/images/ui-message.svg" alt="letter">
      <img src="./assets/images/ui-message.svg" alt="letter">
      <img src="./assets/images/ui-message.svg" alt="letter">
      <img src="./assets/images/ui-message.svg" alt="letter">
      <img src="./assets/images/ui-message.svg" alt="letter">
    </div>
    <div class="right-menu">
      <div class="admin-person">
        <div class="admin-person__img">
          <img [src]="user.image" alt="admin">
        </div>
        <select>
          <option>{{ user.displayName }}</option>
        </select>
      </div>
      <div class="admin-search">
        <img src="./assets/images/search.svg" alt="search">
      </div>
      <div class="admin-language">
        <select>
          <option>EN</option>
          <option>UA</option>
        </select>
      </div>
      <div class="admin-menu">
        <div class="burger-menu">
          <div class="top-line line"></div>
          <div class="middle-line line"></div>
          <div class="bottom-line line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
