<div class="inner-product">
  <div class="main-title">
    <h1 class="main-title__title">All Products</h1>
    <div class="count-products">
      <span class="count">117</span>
      <span>Products</span>
    </div>
  </div>
  <div class="sort-wrapper">
    <div class="sort">
      <span class="sort__title">Sort by</span>
      <select class="sort__element" name="sort-select" id="sort">
        <option value="1">Select</option>
        <option value="2">Select</option>
        <option value="3">Selcet</option>
      </select>
    </div>
  </div>
  <main class="main">
    <div class="filter">
      <div class="filter__element">
        <h3 class="filter__title">Categories</h3>
        <div class="filter__items categoryItem">
          <p class="filter__name filter__name_category">Category name</p>
          <span class="count">320</span>
        </div>
        <div class="filter__items categoryItem">
          <p class="filter__name filter__name_category">Category name</p>
          <span class="count">112</span>
        </div>
        <div class="filter__items categoryItem">
          <p class="filter__name filter__name_category">Category name</p>
          <span class="count">32</span>
        </div>
        <div class="filter__items categoryItem">
          <p class="filter__name filter__name_category">Category name</p>
          <span class="count">40</span>
        </div>
      </div>
      <div class="filter__element">
        <h3 class="filter__title">Brand</h3>
        <div class="filter__items">
          <label>
            <input type="checkbox">
            <span> Filtre by brand item</span>
          </label>
        </div>
        <div class="filter__items">
          <label>
            <input type="checkbox">
            <span> Filtre by brand item</span>
          </label>
        </div>
        <div class="filter__items">
          <label>
            <input type="checkbox">
            <span> Filtre by brand item</span>
          </label>
        </div>
        <div class="filter__items">
          <label>
            <input type="checkbox">
            <span> Filtre by brand item</span>
          </label>
        </div>
        <div class="filter__items">
          <label>
            <input type="checkbox">
            <span> Filtre by brand item</span>
          </label>
        </div>
      </div>
      <div class="filter__element">
        <h3 class="filter__title">Rating</h3>
        <div class="filter__items">
          <label>
            <input type="checkbox" name="star">
            <img src="./assets/images/satar-yell.svg" alt="yellow-star">
          </label>
        </div>
        <div class="filter__items">
          <label>
            <input type="checkbox" name="star">
            <span> Filtre by brand item</span>
          </label>
        </div>
        <div class="filter__items">
          <label>
            <input type="checkbox" name="star">
            <span> Filtre by brand item</span>
          </label>
        </div>
        <div class="filter__items">
          <label>
            <input type="checkbox" name="star">
            <span> Filtre by brand item</span>
          </label>
        </div>
      </div>
      <div class="filter__element"></div>
    </div>
    <div class="products">
      <div class="product-card" *ngFor="let product of allProducts">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </main>
</div>

