.inner-product {
  max-width: 1260px;
  margin: 0 auto;

  .main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;

    &__title {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
    }
  }

  .count-products {
    display: flex;
    justify-content: center;
    align-items: center;

    span:first-child {
      margin-right: 10px;
    }

    span:last-child {
      color: #A9A9A9;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .sort-wrapper {
    display: inline-block;
  }

  .sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 16px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
  }

  .sort__title {
    margin-right: 24px;
    padding-right: 24px;
    border-right: 1px solid #D1D1D1;
  }

  .sort__element {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  .mobile-filter {
    display: none;
  }

  .mobile-filter__button {
    padding: 10px 16px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    cursor: pointer;
  }

  .mobile-filter__button:hover {
    border: 1px solid #6a983c;
  }

  .main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1.5em;
    margin-top: 70px;

    .product-card {
      margin-bottom: 1.5em;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px;
  }

  .show-button {
    display: inline-flex;
    width: auto;
  }
}
@media screen and (max-width: 1144px) {
  .inner-product .main {
    grid-template-columns: 200px 1fr;
  }
}
@media screen and (max-width: 998px){
  .inner-product {

    .main {
      grid-template-columns: 1fr;
      margin-top: 20px;
      position: relative;
    }

    .main-title {
      padding-top: 18px;
    }

    .sort {
      padding: 7px 13px;
    }

    .mobile-filter {
      display: block;
    }

    .mobile-filter__button {
      padding: 7px 13px;
    }

    .pagination {
      padding: 0;
    }

    .pagination ::ng-deep .ngx-pagination {
      display: none;
    }

    .pagination ::ng-deep .ngx-pagination li {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 623px) {
  .inner-product {

    .main-title {
      padding-top: 0;
    }

    .main-title__title {
      font-size: 25px;
      line-height: 40px;
    }

    .sort__title {
      margin-right: 10px;
      padding-right: 10px;
    }

    .sort__element {
      font-size: 8px;
    }

    .main .product-card {
      max-width: 300px;
      margin: 0 auto 20px;
    }
  }
}
