<div class="inner-product">
  <div class="main-title">
    <h1 class="main-title__title">All Products</h1>
    <div class="count-products">
      <span class="count">117</span>
      <span>Products</span>
    </div>
  </div>
  <div class="sort-wrapper">
    <div class="sort">
      <span class="sort__title">Sort by</span>
      <select class="sort__element" name="sort-select" id="sort">
        <option value="1">Select</option>
        <option value="2">Select</option>
        <option value="3">Selcet</option>
      </select>
    </div>
  </div>
  <main class="main">
    <app-filter></app-filter>
    <div class="products">
      <div class="product-card" *ngFor="let product of allProducts | paginate: { itemsPerPage: 5, currentPage: page }">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </main>
  <div class="pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <div class="button show-button">
      <span>Show more products</span>
      <img src="./assets/images/arrow-right.svg" alt="arrow-right">
    </div>
    <div class="count-products">
      <span class="count">117</span>
      <span>Products</span>
    </div>
  </div>
  <app-footer></app-footer>
</div>

