.inner-product {
  max-width: 1260px;
  margin: 0 auto;

  .main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;

    &__title {
      font-family: 'PoppinsReg';
      font-size: 32px;
      line-height: 48px;
    }
  }

  .sort-wrapper {
    display: inline-block;
    margin-top: 20px;
  }

  .sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 16px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
  }

  .sort__title {
    margin-right: 24px;
    padding-right: 24px;
    border-right: 1px solid #D1D1D1;
  }

  .sort__element {
    cursor: pointer;
  }

  .main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1.5em;
    margin-top: 70px;

    .product-card {
      margin-bottom: 1.5em;
    }
  }
}
