<footer class="footer">
  <div class="footer-info">
    <div class="footer-info__item">
      <h3 class="footer-info__title">Get in touch</h3>
      <span>About Us</span>
      <span>Careers</span>
      <span>Press Releases</span>
      <span>Blog</span>
    </div>
    <div class="footer-info__item">
      <h3 class="footer-info__title">Connections</h3>
      <span>Facebook</span>
      <span>Twitter</span>
      <span>Instagram</span>
      <span>Youtube</span>
      <span>LinkedIn</span>
    </div>
    <div class="footer-info__item">
      <h3 class="footer-info__title">Earnings</h3>
      <span>Become an Affiliate</span>
      <span>Advertise you product</span>
      <span>Sell on Market</span>
    </div>
    <div class="footer-info__item">
      <h3 class="footer-info__title">Account</h3>
      <span>Your account</span>
      <span>Return Center</span>
      <span>100 % purchase protection</span>
      <span>Chat witch us</span>
      <span>Help</span>
    </div>
  </div>
  <div class="footer-tags"></div>
</footer>
