.footer {
  padding: 64px 45px 78px;
  max-width: 1260px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  justify-content: space-between;

  .footer-info__item {
    display: flex;
    flex-direction: column;
  }

  .footer-info__title {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  span {
    margin-top: 16px;
    color: #6A983C;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
  }
}

.footer-tags {
  margin-top: 51px;

  .footers-tag__title {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .footer-tags__container {
    margin-top: 20px;
  }

  .footer-tags__tag {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 12px;
    padding: 4px 10px;
    margin-right: 16px;
    cursor: pointer;
  }
}

.footer-copyright {
  margin-top: 48px;
  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: 998px) {
  .footer {
    padding: 50px 20px 50px;
  }
}

@media screen and (max-width: 623px) {
  .footer {
    padding: 30px 20px 50px;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .footer-info__item {
      align-items: center;
      padding-top: 20px;
    }

    .footer-info__title {
      font-size: 14px;
      line-height: 25px;
    }

    span {
      font-size: 11px;
      margin-top: 5px;
    }
  }

  .copyright {
    font-size: 9px;
  }
}

@media screen and (max-width: 399px) {
  .footer-info {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-tags .footer-tags__tag {
    font-size: 10px;
  }
}
