.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .header-search__field {
        display: flex;
        justify-content: space-between;
        background-color: #f9f9f9;
        border-radius: 1em;
        padding: 10px 16px;
        border: 1px solid #d1d1d1;
        max-width: 450px;
        flex-grow: 2;
    }

    .header-search__select {
        background-color: inherit;
        appearance: none;
        margin-right: 3px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }

    .header-search__search {
        margin-left: 8px;
        padding-left: 16px;
        font-size: 14px;
        border: none;
        background-color: inherit;
        flex-grow: 2;
        border-left: 1px solid #E5E5E5;
    }

    .header-search__search:focus {
        border: none;
        outline: none;
    }

    .header-search__shop {
        display: flex;
        justify-content: flex-end;

        .header-search__person {
            margin-right: 40px;
            cursor: pointer;
        }
        .header-search__busket {
            transform: translate(0, 5%);
            position: relative;
        }
        .header-search__count {
          position: absolute;
          left: -5px;
          bottom: -5px;
          min-width: 16px;
          height: 16px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: #E5704B;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          border-radius: 12px;

          span {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
          }
        }
    }
}

.header-nav {
    display: flex;
    justify-content: center;

    .nav {
        display: inline-block;
        background-color: #F9F9F9;
    }
    .list {
        list-style-type: none;
    }
    .item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 16px 21px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;

        img {
            display: inline;
            margin-left: 5px;
        }
    }
}

.breadcrumbs {
    max-width: 1260px;
    margin: 0 auto;
    padding: 16px 0;

    &__item {
      display: inline-block;
      margin-right: 8px;
      color: #A9A9A9;
    }

    &__item + &__item::before {
      content: '/';
      margin-right: 4px;
    }

    .breadcrumbs__item:last-child a {
      color: #151515;
    }
}
