<div class="header-wrapper">
    <div class="header-search">
        <div class="header-search__logo">
            <a [routerLink]="[ '/products' ]">
                <img src="./assets/images/Freshnesecom.png" alt="logo">
            </a>
        </div>
        <div class="header-search__field">
            <select class="header-search__select" name="select" id="">
              <option>All categories</option>
              <option>Food</option>
            </select>
            <img src="./assets/images/arrow-down.svg" alt="arrow-down" autocomplete="off">
            <input class="header-search__search" type="text" name="search"
                   placeholder="Search Products, categories ...">
            <img src="./assets/images/search.svg" alt="search">
        </div>
        <div class="header-search__shop">
            <div class="header-search__person">
                <img src="./assets/images/person.png" (click)="openDialog()" alt="person">
            </div>
            <div class="header-search__wish">
              <a [routerLink]="[ '/wish-list' ]">
                <img class="wish-image" src="./assets/images/heart.svg" alt="wish-list">
                <div class="header-search__count" *ngIf="countOfWishList">
                  <span>{{ countOfWishList }}</span>
                </div>
              </a>
            </div>
            <div class="header-search__busket">
                <a [routerLink]="[ '/shopping-cart' ]">
                    <img src="./assets/images/bucket.svg" alt="person">
                    <div class="header-search__count" *ngIf="countOfProducts">
                      <span>{{ countOfProducts }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <nav class="nav">
            <ul class="list">
                <li class="item">Electronics<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Food<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Clothes<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Skin<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Toys<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Special<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Sport<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
                <li class="item">Books<img src="./assets/images/arrow-down.svg" alt="dropdown"></li>
            </ul>
        </nav>
    </div>
</div>
<div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item" *ngFor="let crumb of breadcrumbs">
      <a [routerLink]="crumb.url"> {{ crumb.label | titlecase }}</a>
    </li>
  </ul>
</div>

