@import '../../../../assets/scss.variables/variables';

.shopping-cart-wrapper {
  display: grid;
  grid-template-columns: 1fr 468px;
  grid-gap: 32px;
  max-width: 1260px;
  margin: 30px auto 50px auto;
  padding: 0 45px;
}

.elem-title {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
}

.elem-title__ad-info {
  margin-top: 50px;
}

.elem-title__conf-info {
  margin-top: 20px;
}
.elem-description {
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  margin-bottom: 32px;
}

.info {
  padding: 0 5px;

  .person-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .person-info-inner {
    width: 50%;
  }
  .person-info-inner:first-child {
    padding-right: 1em;
  }
  .person-info-inner:last-child {
    padding-left: 1em;
  }

  .person-info-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
      font-size: $textDescriptionSize;
      font-family: $mainFont;
      font-weight: 600;
    }
    input, select {
      width: 100%;
      border-radius: 1em;
      background-color: #F9F9F9;
      padding: 10px 15px;
      font-size: 14px;
      line-height: 19px;
      border: 1px solid #D1D1D1;
    }
    input:focus, select:focus {
      outline: none;
      border: 1px solid #bdbdbd;
    }
  }

  .notes {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    label {
      font-size: 12px;
      font-family: $mainFont;
    }
    textarea {
      resize: none;
      height: 100px;
      border-radius: 1em;
      background-color: #F9F9F9;
      padding: 11px 21px;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 64px;
    }
    textarea:focus {
      outline: none;
      border: 1px solid #bdbdbd;
    }
  }

  .confirmation__privacy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: $borderRadius;
    border: 1px solid #D1D1D1;
    padding: 11px 18px;
    background: #F9F9F9;
    margin-bottom: 16px;

    label {
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .confirmation__button {
    width: auto;
    margin-top: 32px;
    font-size: 15px;
    line-height: 22px;
    padding: 16px 46px;
  }
}

.summary {
  margin-top: 12px;
  border: 1px solid #D1D1D1;
  border-radius: 1em;
  padding: 32px 16px;

  .elem-description {
    margin-bottom: 40px;
  }

  .summary__product-cart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
    margin-bottom: 32px;
  }

  .summary__inner-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .summary__inner-right {
    margin-left: 16px;
  }

  .summary__image-wrapper {
    width: 100px;
    height: 67px;
    position: relative;
    margin-bottom: 11px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  .summary__add-remove {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7px;
    cursor: pointer;
    color: #A9A9A9;
    font-size: 12px;
    line-height: 16px;
  }

  .summary__add-remove:last-child {
    margin-left: 2px;

    img {
      margin-right: 9px;
    }
  }

  .summary__icon {
    display: inline-block;
    margin-right: 7px;
  }

  .summary-title {
    margin-bottom: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }

  .summary__info {
    display: flex;
    justify-content: flex-start;
  }

  .summary__info p:last-child {
    margin-bottom: 0;
  }

  .summary__info-key p {
    color: #A9A9A9;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 7px;
  }

  .summary__info-value {
    margin-left: 5px;
  }

  .summary__info-value p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 7px;
  }

  .summary__stars-wrapper {
    display: flex;
    margin-top: 12px;
    margin-bottom: 17px;
  }

  .summary__price {
    color: #6A983C;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 35px;
  }

  .product-count {
    padding: 5px 0;
    position: absolute;
    right: 0;
    bottom: 22px;
    margin: 0;
  }

  .summary__total {
    margin-top: 40px;
  }

  .summary__subtotal, .summary__tax {
    display: flex;
    justify-content: space-between;
    //font-family: 'Poppins', sans-serif;
    font-family: $mainFont;
    font-weight: 600;
    //font-size: 12px;
    font-size: $textDescriptionSize;
    line-height: 18px;
  }

  .summary__subtotal {
    margin-bottom: 12px;
  }

  .summary__tax {
    margin-bottom: 32px;
  }

  .summary__promo-group {
    position: relative;

    input {
      width: 100%;
      border-radius: 1em;
      background-color: #F9F9F9;
      padding: 10px 15px;
      font-size: 14px;
      line-height: 19px;
      border: 1px solid #D1D1D1;
    }

    input:focus {
      outline: none;
      border: 1px solid #bdbdbd;
    }
  }

  .summary__promo-send {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 15px;
    line-height: 22px;
    font-family: 'PoppinsSemiBold', sans-serif;
    cursor: pointer;
  }

  .summary__total-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
  }

  .summary__total-title {
    font-size: 12px;
    line-height: 18px;
    font-family: 'PoppinsSemiBold', sans-serif;
    margin: 0;
  }

  .summary__total-description {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    color: #6A983C;
  }

  .summary__total-price {
    font-family: 'PoppinsSemiBold', sans-serif;
    font-size: 26px;
    line-height: 39px;
    color: #6A983C;
  }
}

@media screen and (max-width: 998px) {
  .shopping-cart-wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .shopping-cart-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto 50px auto;
    grid-gap: 0;
  }

  .summary {
    margin-top: 0;
  }

  .info {
    margin-top: 20px;
  }

  .info .notes textarea {
    margin-bottom: 40px;
  }

  .info .person-info {
    margin-top: 20px;
  }

  .elem-description {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 632px) {
  .shopping-cart-wrapper {
    padding: 0 15px;
  }

  .elem-title {
    font-size: 18px;
  }

  .summary {
    padding: 21px 12px;

    .elem-description {
      font-size: 11px;
      margin-bottom: 15px;
    }

    .summary__inner-right {
      margin-left: 10px;
    }

    .summary__tax {
      margin-bottom: 20px;
    }

    .summary__promo-send {
      font-size: 13px;
    }

    .summary__promo-group input {
      font-size: 12px;
    }
  }

  .info {
    .person-info-group {
      margin-bottom: 20px;

      input {
        padding: 7px 9px;
        font-size: 12px;
      }
    }
    .person-info {
      margin-bottom: 20px;
    }
  }

  .shopping-cart-wrapper .info p {
    font-size: 11px;
    line-height: 15px;
  }

  .info .confirmation__privacy {
    padding: 5px 7px;
  }

  .confirmation__privacy label {
    font-size: 11px;
    margin-left: 10px;
  }
}
